<%- include ('login-header') %>

    <!-- login area start -->
    <div class="login-area">
        <div class="container">
            <div class="login-box ptb--100">
                <form action="/signup" method="POST">
                    <div class="login-form-head">
                        <h4>Sign up</h4>
                        <!-- <p>Sieve Admin</p> -->
                    </div>
                    <% if (locals.error) { %>
                        <div class="alert alert-danger"><%= error %></div>
                    <% } %>
                    <!-- <% if (locals.success) { %>
                        <div class="alert alert-success">Successfully Registered!</div>
                    <% } %> -->
                    <div class="login-form-body">
                        <div class="form-gp">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email" id="exampleInputEmail1" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                            <i class="ti-email"></i>
                            <div class="text-danger"></div>
                        </div>
                        <div class="form-gp">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" id="exampleInputPassword1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters." required>
                            <i class="ti-lock"></i>
                            <div class="text-danger"></div>
                        </div>
                        <div class="form-gp">
                            <label for="exampleInputPassword2">Confirm Password</label>
                            <input type="password" name="confirmPassword" id="exampleInputPassword2" required>
                            <i class="ti-lock"></i>
                            <div class="text-danger"></div>
                        </div>
                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit">Sign Up <i class="ti-arrow-right"></i></button>
                            <!-- <div class="login-other row mt-4">
                                <div class="col-6">
                                    <a class="fb-login" href="#">Sign up with <i class="fa fa-facebook"></i></a>
                                </div>
                                <div class="col-6">
                                    <a class="google-login" href="#">Sign up with <i class="fa fa-google"></i></a>
                                </div>
                            </div> -->
                        </div>
                        <div class="form-footer text-center mt-5">
                            <p class="text-muted">Don't have an account? <a href="/login">Sign in</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->

    <!-- Vertically centered modal start -->
    <div class="col-lg-6 mt-5">
        <div class="card">
            <div class="card-body">
                <div class="modal fade" id="successModalCenter">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <h2 id="success_heading" class="text-success">Success!</h2>
                                <img src="images/icon/success.png" width="80px" height="80px"/>
                                <h6 class="text-dark" style="margin: 10px 0px;">Successfully registered! Your account will be activated soon.</h6>
                                <br/>
                                <a href="/login" class="btn btn-primary text-white btn-sm mb-3" style="background-color: #265699; width: 80px;">OK</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vertically centered modal end -->

<%- include ('login-footer') %>

<% if (locals.success) { %>
    <script type="text/javascript">
        $(window).on('load', function(){
            $('#successModalCenter').modal({backdrop: 'static', keyboard: false});
        });
    </script>
<% } %>