<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sieve - Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="images/icon/favicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/metisMenu.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/slicknav.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css"
        media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="css/typography.css">
    <link rel="stylesheet" href="css/default-css.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/responsive.css">
    <!-- modernizr css -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="/"><img src="images/icon/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <% if (admin && admin.privilege_level == 1) { %>
                            <li>
                                <a href="/categories" aria-expanded="true"><i
                                        class="fa fa-table"></i><span>categories</span></a>
                            </li>
                            <% } %>
                            <li>
                                <a href="/apps" aria-expanded="true"><i class="fa fa-table"></i><span>apps</span></a>
                            </li>
                            <li>
                                <a href="/interesting_news" aria-expanded="true"><i class="fa fa-table"></i><span>interesting
                                        news</span></a>
                            </li>
                            <li>
                                <a href="/privacy_tips" aria-expanded="true"><i class="fa fa-table"></i><span>privacy
                                        tips</span></a>
                            </li>
                            <li>
                                <a href="/privacy_laws" aria-expanded="true"><i class="fa fa-table"></i><span>privacy
                                        laws</span></a>
                            </li>
                            <% if (admin && admin.privilege_level == 1) { %>
                            <li>
                                <a href="/admins" aria-expanded="true"><i
                                        class="fa fa-table"></i><span>admins</span></a>
                            </li>
                            <% } %>
                            <li>
                                <a href="/users" aria-expanded="true"><i class="fa fa-table"></i><span>users</span></a>
                            </li>
                            <li>
                                <a href="/suggestions" aria-expanded="true"><i
                                        class="fa fa-table"></i><span>suggestions</span></a>
                            </li>
                            <% if (admin && admin.privilege_level == 1) { %>
                            <li>
                                <a href="/datatypes" aria-expanded="true"><i
                                        class="fa fa-table"></i><span>data types</span></a>
                            </li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="nav-btn pull-left" style="margin-top: 2px;">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="breadcrumbs-area clearfix">
                            <!-- <h4 class="page-title pull-left">Categories</h4> -->
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <img class="avatar user-thumb" src="images/author/avatar.png" alt="avatar">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown"><% if (admin) { %><%= admin.email; %><% } %> <i
                                    class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <!-- <a class="dropdown-item" href="#">Settings</a> -->
                                <a class="dropdown-item" href="/logout">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->
            <div class="main-content-inner">
                <div class="row">